<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="title-page">
            <h2>¿Cuánto tiempo llevas mirando la pantalla?</h2>
            <a href="https://www.aao.org/salud-ocular/consejos/uso-de-la-computadora-y-la-fatiga-visual">Basado en la regla 20-20-20</a>
        </div>

        <div class="instructions">
            <ol>
                <li> Cuando estés listo/a para utilizar tu computador y/o dispositivo, presiona el botón "Comenzar" y
                    empezará el conteo de 20 minutos.</li>
                <li>
                    Después de que se cumplan los 20 minutos del conteo, se escuchará el sonido de una notificación y se
                    abrirá una pantalla (que te avisará de que debes descansar tus ojitos), con dos opciones: "Aceptar"
                    y
                    "Cancelar".
                </li>
                <li>Si seleccionas la opción "Aceptar", el contador se iniciará automáticamente hasta contar
                    20
                    segundos, y es momento de descansar tus ojitos mirando a 6 metros de distancia (20 pies).</li>
                <li>¡Disfrútalo! 🤓</li>
                <button><span>Instrucciones</span></button>
            </ol>
        </div>
        <div class="timer">
            <div class="title-timer">Llevas:</div>
            <div class="time">
                <div>00</div>
                <div>00</div>
            </div>
            <div>
                <button>Comenzar</button>
                <button>Pausar</button>
            </div>
        </div>

    </main>

</body>

</html>